@use "../common//index.module" as *;
.nav2s {
  color: $bg-color;
}
//*******************************************************
.navbar {
  background-image: linear-gradient($primary-color, #ff7337);
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 2;
  &Container {
    width: 65vw;
    margin: 0 auto;
  }
  &Nav {
    padding: 5px 0;
    height: 35px;
    display: flex;
    justify-content: space-between;
    &Left {
      display: flex;
      margin-left: 20px;
      &Link {
        display: flex;
        &Click {
          padding: 5px 5px 0;
        }
        &Item {
          padding: 0 10px;
          margin-top: 10px;
          color: $bg-color;
          font-size: 1.4rem;
          @include dflex;
          border-right: 1px solid hsla(0, 0%, 100%, 0.22);
          height: 15px;
          &:last-child {
            border-right: none;
            padding-right: 0;
          }
          &To {
            text-decoration: none;
            color: $bg-color;
          }
          &:hover:not(:last-child) {
            @include hover();
          }
        }
      }
      &Icon {
        margin-top: 5px;
        @include dflex;
        &Num1 {
          color: $bg-color;
          padding: 5px;
          &:hover {
            @include hover();
          }
        }
        &Num2 {
          @extend .navbarNavLeftIconNum1;
        }
      }
    }
    &Right {
      display: flex;
      padding-top: 5px;
      font-size: 1.3rem;
      &Support {
        display: flex;
        &Box {
          width: 250px;
          height: 200px;
          background-color: $bg-color;
          position: absolute;
          @include dflex;
          flex-direction: column;
          justify-content: end;
          z-index: 3;
          border-radius: 2px;
          visibility: hidden;
          transition: height 0.3s, width 0.3s;
          right: 30px;
          top: 28px;
          &::after {
            content: "";
            @include afterHover;
            right: 5%;
            top: -18px;
          }
          &Img {
            width: 100px;
          }
          &Content {
            margin: 10px 0 100px;
          }
          &Cover {
            width: 400px;
            &Btn1,
            &Btn2 {
              width: 200px;
              height: 40px;
              outline: none;
              border: none;
              &:hover {
                background-color: rgb(219, 219, 219);
                cursor: pointer;
              }
            }
          }
        }
        &Lang {
          background-color: $bg-color;
          z-index: 3;
          height: 60px;
          width: 150px;
          border-radius: 3px;
          position: absolute;
          top: 28px;
          right: 30px;
          transition: height 0.3s, width 0.3s;
          visibility: hidden;
          &::after {
            content: "";
            @include afterHover;
            top: -18px;
            right: 20px;
          }
          &Choose {
            padding: 10px;
            font-size: 1.4rem;
            width: fit-content;
            &:hover {
              cursor: pointer;
              color: $primary-color;
            }
          }
        }
        &Item {
          position: relative;
          height: 30px;
          &:hover {
            cursor: pointer;
          }
          &:hover:first-child .navbarNavRightSupportBox {
            visibility: visible;
            width: 400px;
            height: 350px;
          }
          &:hover:last-child .navbarNavRightSupportLang {
            visibility: visible;
            width: 200px;
            height: 70px;
          }
        }
        &Select {
          text-decoration: none;
          color: $bg-color;
          font-size: 1.4rem;
          margin-right: 15px;
        }
      }
      &Sign {
        @include dflex;
        height: 17px;
        &Up {
          border-right: 1px solid hsla(0, 0%, 100%, 0.22);
          padding: 0 15px;
        }
        &Up,
        &In {
          font-size: 1.4rem;
          @extend .navbarNavRightSupportSelect;
          &:hover {
            @include hover();
          }
        }
        &In {
        }
      }
    }
  }
  &Main {
    display: flex;
    margin: 0 auto;
    white-space: nowrap;
    padding: 16px 0 10px;
    &Icon {
      padding: 0 50px 0 30px;
      color: $bg-color;
      &Logo {
        height: 50px;
        width: 150px;
      }
    }
    &Search {
      min-width: 45vw;
      margin-right: 30px;
      &Item {
        position: relative;
        &Input {
          padding-left: 5px;
          height: 40px;
          min-width: 45vw;
        }
        &Btn {
          color: $bg-color;
          background-color: $primary-color;
          border: none;
          height: 32px;
          width: 60px;
          position: absolute;
          right: 6px;
          top: 4px;
          border-radius: 2px;
          &:hover {
            @include hover;
          }
        }
      }
      &Suggest {
        margin-top: 5px;
        &Things {
          color: $bg-color;
          text-decoration: none;
          margin-right: 25px;
          font-size: 1.2rem;
          &:hover {
            @include hover();
          }
        }
      }
    }
    &Cart {
      position: relative;
      padding: 50px;
      cursor: pointer;
      &Logo {
        position: absolute;
        height: 80px;
        min-width: 50px;
        color: $bg-color;
        right: 0;
        top: 15px;
        font-size: 2.5rem;
      }
      &Count {
        height: 20px;
        width: 20px;
        border-radius: 50px;
        background-color: red;
        color: #fff;
        @include dflex;
        position: absolute;
        top: 5px;
        right: 12px;
      }
      &Wrapper {
        animation-fill-mode: forwards;
        transition: opacity 0.3s ease, transform 0.3s ease;
        &.open {
          animation: fadeSlideIn 0.4s ease forwards;
        }
      }
    }
  }
  @media (max-width: $breakpoint-laptop) {
    &Container {
      width: 80vw;
      margin: 0 auto;
    }
    &Nav {
      height: 30px;
      &Left {
        margin-left: 17px;
        &Link {
          &Item {
            margin-top: 8px;
            font-size: 1.3rem;
          }
        }
        &Icon {
        }
      }
      &Right {
        &Support {
          &Select {
            font-size: 1.3rem;
            margin-right: 12px;
          }
        }
        &Sign {
          height: 15px;
          &Up {
            padding: 0 12px;
          }
          &Up,
          &In {
            font-size: 1.3rem;
          }
        }
      }
    }
    &Main {
      &Icon {
        padding: 0 40px 0 25px;
        color: $bg-color;
        &Logo {
          height: 40px;
          width: 135px;
        }
      }
      &Search {
        width: 50vw;
        &Item {
          &Input {
            width: 50vw;
          }
        }
        &Suggest {
          width: 50vw;
          &Things {
            margin-right: 15px;
            font-size: 1.15rem;
            &:nth-child(8) {
              display: none;
            }
          }
        }
      }
      &Cart {
        &Logo {
          height: 70px;
          width: 42px;
          right: 10px;
          font-size: 2.3rem;
        }
        &Count {
          right: 23px;
        }
        &Wrapper {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
  @media (max-width: $breakpoint-desktop) {
    &Container {
      width: 100vw;
      margin: 0;
    }
    &Nav {
      &Left {
        margin-left: 0;
        &Link {
          &Item {
            padding: 0 5px;
            margin-top: 8px;
            height: 12px;
          }
        }
        &Icon {
          margin-top: 3px;
        }
      }
      &Right {
        padding-top: 7px;
        font-size: 1.15rem;
        &Support {
          &Select {
            font-size: 1.15rem;
            margin-right: 5px;
          }
        }
        &Sign {
          height: 13px;
          &Up {
            padding-right: 12px;
          }
          &Up,
          &In {
            font-size: 1.15rem;
          }
          &In {
            padding-right: 10px;
          }
        }
      }
    }
    &Main {
      &Icon {
        padding: 0 30px 0 20px;
      }
      &Search {
        width: 58vw;
        margin-right: 20px;
        &Item {
          &Input {
            width: 58vw;
          }
          &Btn {
          }
        }
        &Suggest {
          width: 55vw;
          &Things {
            margin-right: 10px;
            font-size: 1.1rem;
            &:nth-child(7) {
              display: none;
            }
          }
        }
      }
      &Cart {
        &Count {
          right: 23px;
        }
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    &Container {
      width: 100vw;
      margin: 0;
    }
    &Nav {
      &Left {
        margin-left: 0;
        &Link {
          &Item {
            padding: 0 4px;
            font-size: 1.05rem;
          }
        }
      }
      &Right {
        padding-top: 6px;
        &Support {
          &Select {
            font-size: 1.05rem;
          }
        }
        &Sign {
          &Up {
            padding: 0 5px;
          }
          &Up,
          &In {
            font-size: 1.05rem;
          }
        }
      }
    }
    &Main {
      &Icon {
        padding: 0 15px 0 10px;
        &Logo {
          display: none;
        }
      }
      &Search {
        width: 65vw;
        &Item {
          &Input {
            width: 65vw;
          }
        }
        &Suggest {
          &Things {
            margin-right: 5px;
            font-size: 1.1rem;
            &:nth-child(6) {
              display: none;
            }
          }
        }
      }
      &Cart {
        padding: 40px;
        &Logo {
          width: 50px;
        }
        &Count {
          right: 23px;
        }
      }
    }
  }
}
.fa-solid.fa-cart-shopping {
  height: 80px;
  width: 50px;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
