@use "../common/index.module" as *;
.form {
  @include formbg;
  height: 480px;
  &Header {
    padding: 22px 30px;
    display: flex;
    align-items: center;
    &Title {
      font-size: 1.8rem;
      width: 100px;
    }
    &Login {
      margin-left: 20px;
      @include dflex;
      &Content {
        border: 2px solid $form-bgcolor;
        background-color: #fefaee;
        color: $form-bgcolor;
        padding: 10px;
        position: relative;
        margin-right: 10px;
        &::after {
          content: "";
          position: absolute;
          border: 10px solid;
          border-color: transparent transparent transparent $form-bgcolor;
          right: -20px;
          top: 35%;
        }
      }
      &Qr {
        height: 60px;
      }
    }
  }
  &Other {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    &Link {
      text-decoration: none;
      color: $form-linkcolor;
      font-size: 1.3rem;
    }
  }
}
