@use "../common/index.module" as *;
.container {
  display: flex;
  align-items: center;
  position: relative;
}
.form {
  @include formbg;
  height: 480px;
  &Main {
    padding: 0 30px 30px;
    height: 320px;
    @include dflex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    &Qr {
      background-image: url("/src/img/LoginQr/loginqr.png");
      background-repeat: no-repeat;
      height: 180px;
      width: 180px;
      background-size: contain;
    }
    &Content {
      font-size: 2.2rem;
    }
    &Btn {
      border: none;
      background-color: #fff;
      color: $form-linkcolor;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}
.scanform {
  @include formbg;
  height: 500px;
  margin-right: 20px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -420px;
  z-index: 4;
  &Title {
    font-size: 2rem;
  }
  &Btn {
    border: none;
    background-color: #fff;
    font-size: 2rem;
    position: absolute;
    right: 60px;
  }

  &Img {
    width: 140%;
  }
  &Content {
    text-align: center;
  }
}
