@use "../common/index.module" as *;
.formHeader {
  padding: 22px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Title {
    font-size: 1.8rem;
    width: 130px;
  }
  &Login {
    margin-left: 20px;
    @include dflex;
    &Content {
      border: 2px solid $form-bgcolor;
      background-color: #fefaee;
      color: $form-bgcolor;
      padding: 10px;
      position: relative;
      margin-right: 10px;
      &::after {
        content: "";
        position: absolute;
        border: 10px solid;
        border-color: transparent transparent transparent $form-bgcolor;
        right: -20px;
        top: 35%;
      }
    }
    &Password {
      height: 50px;
    }
  }
}
