@use "../common/index.module" as *;
.container {
  background-color: rgba($color: #fef9f7, $alpha: 0.8);
  padding: 180px 0 120px;
}
.warningColor {
  background-color: rgba(255, 87, 34, 0.1);
  padding: 15px;
}
.product {
  @include bg;
  display: flex;
  position: relative;
  &Left {
    padding: 15px;
    &Top {
      &Photo {
        height: 450px;
        width: 450px;
        background-size: contain;
        transition: all 0.3s ease-in-out;
      }
      &List {
        display: flex;
        margin-top: 5px;
        &Img {
          height: 135px;
          width: 135px;
          margin-right: 23px;
          &:hover {
            border: 3px solid $primary-color;
          }
        }
      }
    }
    &Bot {
      display: flex;
      margin-top: 25px;
      &Social {
        height: 30px;
        border-right: 1px solid rgba($color: #333, $alpha: 0.15);
        padding: 0 18px 0 10px;
        @include dflex;
        &Media {
          display: flex;
          &Item {
            padding: 5px;
            &Img {
              height: 25px;
              width: 25px;
            }
          }
        }
      }
      &Like {
        @include dflex;
        padding: 0 18px;
        font-size: 1.9rem;
        &Number {
          padding-left: 8px;
          font-weight: 400;
        }
      }
    }
  }
  &Right {
    padding: 20px 35px 0;
    width: 70vw;
    &Title {
      &Tag {
        font-size: 1.4rem;
        background-color: $primary-color;
        color: $bg-color;
        border-radius: 3px;
        margin-right: 10px;
        padding: 4px;
      }
      &Name {
        font-weight: 400;
      }
    }
    &Review {
      margin-top: 10px;
      @include dflex;
      justify-content: space-between;
      &Left {
        display: flex;
        align-items: center;
        &Rating {
          display: flex;
          align-items: center;
          border-right: 1px solid rgba($color: $product-color, $alpha: 0.3);
          padding-right: 15px;
          &Number {
            margin-right: 5px;
            text-decoration: underline;
            font-size: 1.8rem;
          }
        }
        &Reviews {
          @extend .productRightReviewLeftRating;
          margin: 0 15px;
          &Number {
            @extend .productRightReviewLeftRatingNumber;
          }
          &Content {
            color: $product-color;
          }
        }
        &Sold {
          display: flex;
          align-items: center;
          &Content {
            color: $product-color;
            margin-right: 5px;
          }
          &Number {
            font-size: 1.8rem;
          }
        }
      }
      &Report {
        display: flex;
        align-items: center;
        &Btn {
          border: none;
          background-color: #fff;
          color: $product-color;
          padding: 0 5px;
          font-size: 1.7rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &Flash {
      margin-top: 10px;
      height: 32px;
      padding: 0 7px;
      @include dflex;
      justify-content: space-between;
      background-image: linear-gradient(to right, $primary-color, #ff7337);
      &Left {
        padding-top: 3px;
        padding-left: 5px;
        height: 28px;
        width: 28px;
        &Img {
        }
      }
      &Right {
        display: flex;
        align-items: center;
        color: $bg-color;
        &Title {
          padding: 0 7px;
          font-size: 1.7rem;
        }
      }
    }
    &Price {
      // margin-top: 10px;
      background-color: rgba($color: #000000, $alpha: 0.04);
      padding: 15px 20px;
      height: 60px;
      display: flex;
      align-items: center;
      &Sale {
        font-size: 2.4rem;
        color: $primary-color;
        padding-left: 3px;
      }
      &Ori {
        padding-left: 3px;
        text-decoration: line-through;
        color: $product-color;
      }
      &Percent {
        font-size: 1.2rem;
        background-color: #feeeea;
        color: $mall-color;
        width: fit-content;
      }
    }
    &Detail {
      padding: 10px 20px;
      margin-bottom: 15px;
      &Ship {
        display: flex;
        padding-top: 5px;
        align-items: center;
        margin-bottom: 18px;
        font-size: 1.4rem;
        &Title {
          @include productDetailTitle;
        }
        &Content {
          @include dflex;
          &Img {
            padding-right: 5px;
          }
          &Day {
          }
        }
      }
      &Security {
        @extend .productRightDetailShip;
        &Title {
          @include productDetailTitle;
        }
        &Content {
          @include dflex;
          &:hover &Form {
            visibility: visible;
          }
          &Form {
            visibility: hidden;
          }
          &Img {
            padding-right: 5px;
          }
          &Day {
            padding-right: 10px;
            &Icon {
              color: $product-color;
            }
          }
        }
      }
      &Variant {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        &Title {
          @include productDetailTitle;
        }
        &List {
          margin: 10px 0 20px;
          display: flex;
          flex-basis: 500px;
          flex-wrap: wrap;
          width: 700px;
          max-height: 200px;
          overflow-x: hidden;
        }
        &Item {
          position: relative;
          margin: 8px 8px 0 0;
          padding: 5px;
          height: 40px;
          width: fit-content;
          padding: 20px;
          @include dflex;
          border: 1px solid rgba($color: #000000, $alpha: 0.09);
          background-color: #fff;
          &:hover,
          &:checked {
            cursor: pointer;
            border: 1px solid $primary-color;
            color: $primary-color;
          }
          &Img {
            width: 25px;
            height: 25px;
          }
          &Title {
            font-size: 1.4rem;
            padding-left: 2px;
          }
          &Checked {
            height: 10px;
            width: 10px;
            background-color: $primary-color;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
      &Quantity {
        display: flex;
        align-items: center;
        margin: 25px 0;
        &Title {
          @include productDetailTitle;
        }
        &Content {
          display: flex;
          justify-content: center;
          align-items: start;
          &Input {
            height: 30px;
            width: 50px;
            text-align: center;
            background-color: #fff;
            border-color: rgba($color: #000000, $alpha: 0.4);
          }
          &Btn {
            height: 30px;
            width: 30px;
            background-color: #fff;
            border-color: rgba($color: #000000, $alpha: 0.4);
            cursor: pointer;
          }
          &More {
            display: flex;
            align-items: center;
            margin-left: 15px;
            margin-top: 3px;
            color: $product-color;
          }
        }
        &Warning {
          background-color: rgba(255, 87, 34, 0.1);
          color: $primary-color;
          margin-top: 20px;
          width: fit-content;
        }
      }
    }
    &Button {
      display: flex;
      margin-left: 20px;
      &Add {
        @include productbtn;
        @include dflex;
        width: 180px;
        color: $primary-color;
        background-color: rgba(255, 87, 34, 0.1);
        &:hover {
          background-color: rgba(255, 87, 34, 0.2);
          cursor: pointer;
        }
        &Content {
          padding-left: 10px;
        }
      }
      &Buy {
        @include productbtn;
        background-color: $primary-color;
        color: $bg-color;
        width: 180px;
        &:hover {
          background-color: rgba($color: $primary-color, $alpha: 0.8);
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: $breakpoint-laptop) {
    max-width: 85vw;
    padding-bottom: 120px;
    &Left {
      padding: 13px;
      &Top {
        &Photo {
          width: 360px;
          height: 360px;
        }
        &List {
          &Img {
            margin-right: 20px;
            width: 108px;
            height: 108px;
          }
        }
      }
    }
    &Right {
      padding: 15px 22px 0;
      &Review {
        width: 48vw;
        justify-content: space-between;
      }
      &Flash,
      &Price {
        width: 48vw;
      }
    }
  }
  @media (max-width: $breakpoint-desktop) {
    max-width: 85vw;
    &Left {
      padding: 10px;
      &Top {
        margin-bottom: 40px;
        &Photo {
          width: 250px;
          height: 250px;
        }
        &List {
          &Img {
            margin-right: 15px;
            width: 75px;
            height: 75px;
          }
        }
      }
      &Bot {
        flex-direction: column;
        align-items: center;
        &Social {
          border-bottom: 1px solid rgba($color: #333, $alpha: 0.15);
          width: 80%;
          padding-bottom: 45px;
          border-right: none;
          margin-bottom: 30px;
          font-size: 2.5rem;
        }
      }
    }
    &Right {
      width: 70vw;
      padding: 10px 15px 0;
      &Title {
        width: 350px;
        &Tag {
          font-size: 1rem;
          padding: 0 3px;
        }
        &Name {
          font-size: 1.6rem;
          width: 100%;
          text-wrap: wrap;
          text-overflow: ellipsis;
        }
      }
      &Review {
        width: 45vw;
        justify-content: start;
        font-size: 1.3rem;
        &Left {
          &Reviews {
            &Content {
              margin-left: 10px;
            }
          }
          &Sold {
            Content {
            }
          }
        }
        &Report {
          margin-left: 20px;
        }
      }
      &Flash {
        width: 45vw;
      }
      &Price {
        width: 45vw;
      }
      &Detail {
        padding: 5px 10px;
        &Security {
          width: 45vw;
        }
        &Variant {
          width: 350px;
        }
        &Quantity {
          font-size: 1.3rem;
        }
      }
      &Button {
        &Add,
        &Buy {
          width: 170px;
        }
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    max-width: 90vw;
    padding-bottom: 50px;
    flex-direction: column;
    &Left {
      padding: 6px;
      position: relative;
      &Top {
        margin-top: 10px;
        display: flex;
        &Photo {
          width: 220px;
          height: 220px;
        }
        &List {
          height: 140px;
          padding: 5px;
          padding-left: 55px;
          flex-direction: column;
          &Img {
            width: 105px;
            height: 105px;
            margin-right: 10px;
            margin-bottom: 5px;
          }
        }
      }
      &Bot {
        margin-top: 10px;
        flex-direction: column;
        width: 40vw;
        &Social {
          // border-right: 1px solid rgba($color: #333, $alpha: 0.15);
          border-bottom: none;
          height: 55px;
          margin-bottom: 0;
          padding-bottom: 25px;
          flex-direction: column;
          &Share {
            font-size: 2.2rem;
          }
          &Media {
            &Item {
              width: 40px;
              height: 40px;
            }
          }
        }
        &Like {
          &Number {
            font-size: 1.6rem;
            width: 150px;
          }
        }
      }
    }
    &Right {
      &Review {
        justify-content: start;
        &Report {
          margin-left: 70px;
        }
      }
      &Flash,
      &Price {
        width: 75vw;
      }
      &Button {
        &Add,
        &Buy {
          width: 240px;
        }
      }
    }
  }
}
