@use "./index.module" as *;
.form {
  // margin-bottom: 10px;
  &Input {
    min-width: 100%;
    height: 4rem;
    padding: 12px;
    margin-bottom: 15px;
    &Error {
      @extend .formInput;
      margin-bottom: 5px;
      border: 1px solid red;
      background-color: #fff6f7;
      &:focus {
        outline-width: 0;
      }
    }
  }
  &Cover {
    position: relative;
    width: 100%;
    &Password {
      @extend .formInput;
    }
    &ClickOn,
    &ClickOff {
      position: absolute;
      right: 10px;
      top: 15px;
      border: none;
      background-color: #fff;
    }
  }
  &Btn {
    @extend .formInput;
    padding: 0;
    border: none;
    margin-bottom: 30px;
    background-color: $primary-color;
    color: $bg-color;
    cursor: pointer;
    &:disabled {
      background-color: rgba($color: $primary-color, $alpha: 0.6);
      cursor: not-allowed;
      opacity: 0.6;
      transition: background-color 0.3s ease;
    }
  }
  &Note {
    font-size: 1.3rem;
    padding-top: 4px;
    color: red;
  }
}
