@use "./index.module" as *;
.footer {
  @include dflex;
  &Content {
    padding-right: 5px;
    color: rgba($color: #000000, $alpha: 0.3);
    font-size: 1.4rem;
  }
  &Link {
    text-decoration: none;
    color: $primary-color;
    font-size: 1.4rem;
  }
}
