$primary-color: #ee4d2d;
$bg-color: #fff;
$text-color: #000;
$mall-color: #d0011b;
$form-bgcolor: #ffbf00;
$form-linkcolor: #0055aa;
$product-color: #575757;

$breakpoint-laptop: 1580px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
